{# crud/templates/crud/product_detail.html #}
{% extends "base.html" %}

{% block title %}商品詳細{% endblock %}

{% block content %}
  <h1 class="mb-3">商品詳細</h1>

  <table class="table table-striped table-hover table-bordered">
    <tbody>
      <tr>
        <th style="width:10rem;">商品名</th>
        <td>{{ object.name }}</td>
      </tr>
      <tr>
        <th>価格</th>
        <td>{{ object.price }} 円</td>
      </tr>
      <tr>
        <th>カテゴリ</th>
        <td>{{ object.category }}</td>
      </tr>
      <tr>
        <th>商品画像</th>
        <td>
          {% if object.img %}
            <img src="{{ object.img.url }}" alt="{{ object.name }}"
                 style="width:200px; height:auto;" class="img-thumbnail">
          {% else %}
            画像なし
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>商品詳細の説明</th>
        <td class="white-space-pre-wrap">{{ object.description|linebreaksbr }}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex gap-2">
    <a href="{% url 'list' %}" class="btn btn-outline-secondary">一覧に戻る</a>
    <a href="{% url 'edit' pk=object.pk %}" class="btn btn-primary">編集</a>
    <a href="{% url 'delete' pk=object.pk %}" class="btn btn-danger">削除</a>
  </div>
{% endblock %}
